html, body {
    height: 97%;
}

.main-menu {
    display: inline-block;
}
.city-selector {
    display: inline-block;
}

.app-layout {
    height: 100%;

}
.map-region {
    /*max-width: 100%;*/
    height: 100%;
    /*min-width: 200px;*/
    /*float: left;*/
}

.map-region .map {
    height: 100%;
}

.results-list {
    width: 100%;
}
.results-item:hover {
    background: #f5f5f5;
}

.results-item__additional {
    width: 100px;
    vertical-align: top;
}

.results-item__info {
    vertical-align: top;
}


.filter-region {
    letter-spacing: normal;
    z-index: 999;
    position: fixed;
    right: -320px;
    width: 350px;
    transition: all 300ms cubic-bezier(0.695, 0.405, 0.000, 0.985);
}

.filter-region.show {
    right: 0px;
    transition: all 500ms cubic-bezier(0.115, 0.430, 0.000, 0.985);
}

.filter__toggle-panel {
    padding: 2px;
    width: 26px;
    float: left;
    background: white;
    cursor: pointer;
}

.filter__content-panel {
    float: left;
    width: 320px;
    background: #faf2cc;
}

.form-field_deactive {
    display: none;
}


.form-field__field-title_collapsable {
    cursor: pointer;
    border-bottom: 1px dashed;
}


.form-field__collapse-toggler {
    margin-right: 5px;
}
.form-field__collapse-toggler:after {
    content: 'v';
}

.form-field__collapse-toggler_collapsed:after {
    content: '>';
}

.city-selector {
    cursor: pointer;
}

.city-selector__cities-list li {
    cursor: pointer;
}

.city-selector__cities-list li:hover {
    background-color: rgba(157, 157, 157, 0.34);
}


