<td class="results-item__additional"><span style="font-weight: bold">{{ price }}</span> руб.</td>
<td class="results-item__info">
    <div><a href="#1">{{ title }}</a></div>
    <div>{{ comments }}</div>
</td>