<div class="filter__toggle-panel"><img src="app/img/theme/filter_navbar.png"></div>
<div class="filter__content-panel">
    <div class="filter__form"></div>
    <div>
        <button class="filter__search_btn">Найти</button>
    </div>
</div>
